
div.heading {
  font-size: 22px;
  font-weight: bold;
  color: #183691;
}

div.subname {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 15px;
  color: #183691;
}

h2.flex {
  font-weight: bold;
  color: #8a181e;
}

div.biblio {
  padding-left:20px;
  text-indent: -20px;
}

span.biblio-title {
  font-style: italic;
  font-weight: bold;
}
