body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  background-color: #2A2F6F;
  color: #EDED92;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.title-small {
  font-size: small;
  color: #ffffff;
  padding-left: 40px;
  font-weight: normal;
}

.title-medium {
  font-size: medium;
}

.title-link {
  color: #F2EC8E;
}
